body {
  margin: 0;
  padding: 0;
  background-color: #312e38;
}

.barra-superior {
  height: 100px;
  background-color: #28262e;
  display: flex;
  align-items: center;
  padding-left: 240px;
}

.logo {
  width: 120px;
}

.imagem {
  width: 60px; /* Largura da imagem */
  height: 60px; /* Altura da imagem */
  margin-left: 600px;
  border-radius: 50%; /* Para tornar a imagem redonda */
}

.texto {
  margin-left: 10px; /* Espaço entre a imagem e o texto */
  color: var(--White, #999591);
}

.titulo {
  color: var(--White, #f4ede8);
  font-family: Roboto Slab;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.aseguir {
  color: var(--Gray, #999591);
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.manha {
  color: var(--Gray, #999591);
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tarde {
  color: var(--Gray, #999591);
  font-family: Roboto Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div-container {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap; /* Permite que as divs sejam quebradas em várias linhas */
  justify-content: center; /* Centraliza horizontalmente as divs */
  gap: 20px; /* Espaço entre as divs */
  margin-top: 30px;
  color: var(--White, #f4ede8);
}

/* Estilo para as novas divs dentro do contêiner */
.nova-div {
  width: 520px; /* 50% de largura, menos o espaço entre as divs */
  height: 92px;
  flex-shrink: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  background: var(--Shape, #3e3b47);
  margin-bottom: 10px;
}

.horario-icon {
  margin-left: 5px;
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
  width: 30px; /* Ajuste conforme necessário */
  height: auto; /* Ajuste conforme necessário */
}
.hora {
  margin-right: 5px; /* Espaçamento entre a hora e o nome */
}

.nome {
  font-size: 25px;
  font-family: Roboto Slab;
}

.esquerda {
  padding-left: 240px;
}

#currentDate {
  color: #cd92b4;
  font-family: Roboto Slab;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.item-container {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Espaçamento entre os itens */
}

.linha {
  color: #3e3b47;
  opacity: 50%;
}

.logout-icon {
  margin-left: 5px;
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
  width: 25px; /* Ajuste conforme necessário */
  height: auto; /* Ajuste conforme necessário */
  color: #3e3b47;
}
